.edit-main {
   
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.edit-content {
    height: 600px;
}
.select-form {
    width: 200px;
    height: 44px;
    background: #fff;
}
.date-picker {
    float: left;
    overflow: auto;
}
.date-picker > label {
    float: left;
    margin-right: 12px
}
