.warning-icon {
    width: 120px;
    height: 120px;
    /* border: 4px solid gray; */
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    margin: 30px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box;
  }
  .warning-icon > i {
      font-size: 120px;
      color: rgb(238, 255, 0);
  }