.block-wrapper {
    background: #fff;
    padding: 20px;
}
.booking-stepper {
    margin-top: 12px;
    display: flex;
    justify-content: space-around;
}
.booking-stepper > div > button {
    border: none;
    
}
.booking-stepper > div > button:hover {
    color: teal;
   
}
.step-active {
    color: green;
    font-weight: 600;
}
.step-line {
    border-bottom: solid 1px;
    width: 200px;
    margin-bottom: 12px;
}