.best-location {
  /* margin-top: 80px; */
}
.best-location h2 {
  text-transform: uppercase;
  /* border-style: solid;
  border-bottom-color: #92a8d1;
  padding-bottom: 30px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent; */
}

.best-location-hr {
  width: 500px;
  color: black;
  height: 10px;
}

.best-location-element {
  height: 100%;
  overflow: hidden;
  /* position: relative; */
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
.best-location-element img {
  width: 100%;
  height: 100%;
  /* padding-top: 10px; */
  opacity: 0.86;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.best-location-element img:hover {
  opacity: 1.5;
  transform: scale(1.2);
}

@media only screen and (max-width: 600px) {
  .best-location-row {
    height: 430px;
  }
  .best-location-element img {
    width: 100%;
    height: 400px;
  }
}
/* #item-1 {
  background-image: url(http://themegoodsthemes-pzbycso8wng.stackpathdns.com/altair/demo/wp-content/uploads/2014/10/1600x1200-6-560x460.jpg);
}
#item-2 {
  background-image: url(http://themegoodsthemes-pzbycso8wng.stackpathdns.com/altair/demo/wp-content/uploads/2014/05/1600x1200-8-560x460.jpg);
}
#item-3 {
  background-image: url(http://themegoodsthemes-pzbycso8wng.stackpathdns.com/altair/demo/wp-content/uploads/2014/10/1600x1200-9-560x460.jpg);
} */

/* #item-4 {
  background-image: url(http://themegoodsthemes-pzbycso8wng.stackpathdns.com/altair/demo/wp-content/uploads/2014/05/1600x1200-10-560x460.jpg);
}

#item-5 {
  background-image: url(http://themegoodsthemes-pzbycso8wng.stackpathdns.com/altair/demo/wp-content/uploads/2014/10/1600x1200-11-560x460.jpg);
}

#item-6 {
  background-image: url(http://themegoodsthemes-pzbycso8wng.stackpathdns.com/altair/demo/wp-content/uploads/2014/10/1600x1200-12-560x460.jpg);
} */
