/* .top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between
} */
* {
    box-sizing: border-box
}
/* .header {
    background: url(https://p.w3layouts.com/demos/cinema/web/images/header-bg.jpg) no-repeat 0px 0px; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 750px;
} */
.top-header {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    padding: 1.25em 3em 1.25em 2em;
    background: rgba(255, 255, 255, 0.47);
}
.search input[type="submit"] {
    background: url(https://p.w3layouts.com/demos/cinema/web/images/sprit-1.png) no-repeat 0px 0px;
    border: none;
    cursor: pointer;
    position: absolute;
    outline: none;
    top: 2px;
    right: 7px;
    width: 35px;
    height: 35px;
}
.search {
    position: relative;
    padding: 8px 10px;
    width: 18%;
    float: right;
    border: 1px solid #f0f0f0;
}
.logo {
    float: left;
    width: 48%;
}

.header-info {
    float: right;
    padding-top: 4em;
    width: 25%;
    margin-right: 2.5%;
}
a.video {
    background: #dfb636;
    font-size: 1.25em;
    text-decoration: none;
    padding: 12px 25px 12px 15px;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-bottom: 3px solid #2d2d2d;
    width: 75%;
    display: block;
    margin-top: 25px;
}