.post-main {
   
    display: flex;
    flex-direction: column;
}
.posts {
    background: #fff;
    padding: 20px;
    flex-basis: 100%;
    width: 100%;
    max-width: 100%;
    box-shadow: dimgray
}
.admin-posts-table {
    width:100% ;
}
.admin-posts-table > td, th  {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.admin-posts-table > tr:last-child {
    border-bottom: none;
    text-align: left;
    padding: 8px;
}
.admin-posts-table >  th, td {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.admin-posts-table > tr:hover {
    background-color: #bbb
}
tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}
.action-td {
    text-align: center
}
.post-remove-button {
    color: red;
    border: none;
    cursor: pointer;
}
.post-edit-button {
    color: green;
    border: none;
    margin-right: 12px;
    cursor: pointer;
}
.post-open-button {
    color: teal;
    border: none;
    margin-right: 12px;
    cursor: pointer;
}
.avatar-image {
    height: 100px;
    width: 100px
}
.film-toolbar {
    display: flex;
    width: 100%;
    height: 50px;
    /* border: solid 1px gray;
    border-radius: 5px; */
    margin-top: 12px;
    text-align: center;
    align-content: center
}
.film-toolbar > * {
    margin-top: auto;
    margin-bottom: auto;
}
.film-toolbar > .film-toolbar-button {
    height: 32px;
    border: solid 1px;
    border-radius: 3px;
    min-width: 150px;
}