.bottom-header {
    height: 50px;
    padding-bottom: 20px;
    background-color: #087dc2;
  }
  .bottom-header p {
    padding-top: 11px;
    padding-left: 85px;
    color: white;
    font-family: "Lora", serif;
  }
  
  .container .navbar-nav li {
    display: inline-block;
    margin-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    color: black;
  }
  .nav-link {
    display: inline-block;
    margin-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-weight: 450;
    color: black;
    padding-top: 17px;
  }
  .nav-brand {
    display: inline-block;
    margin-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-left: 14px;
    color: teal;
    font-family: "Roboto";
    font-size: 40px;
  }
  /* .header-line {
    background-color: #b3e5fc;
  } */
  .nav {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
  }
  