.selected-film {
    background-color: #f5f5f5;
}
.search-film {
    display: flex;
    justify-content: space-between
}
.search-film > .search-film-input {
    width: 300px;
}
.search-film > div > input {
    width: 300px;
    height: 44px;

    border-radius: 5px;
    border: 1px solid #ced4da;

}
