.admin-navbar {
    height: 80px;
    background-color: #fff;
    width: 100%;
    position: fixed;
    border-bottom:solid 1px #838383;
    /* display: flex;
    flex-direction: row; */
}
.admin-navbar > .admin-nav-brand {
    display: inline-block;
    margin-left: 20px;
    padding-right: 20px;
    padding-top: 14px;
    padding-left: 0px;
    color: teal;
    font-family: "Roboto";
    font-size: 40px;
}
.admin-navbar > .admin-navbar-right {
    height: 100%;
    float: right;
    display: flex;
    flex-direction: row;
    margin-right: 24px;
}
.admin-navbar > .admin-navbar-right > * {
    margin-top:auto;
    margin-bottom: auto
}
.admin-navbar-button {
    border: none;
    margin-left: 12px;
    /* padding: 0;
    background: none; */
}
.admin-main {
    display: flex;
    flex-direction: row;

}

.admin-block {
    margin-left: 200px;
    width: 100%;
    height: 100%;
    margin-top: 80px;
}
.admin-sidebar-link {
    padding: 10px 8px 6px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    cursor: pointer;
    border-bottom: solid 1px #838383
} 

.admin-sidebar-link:hover {
    color: #fff;
    background: #20a8d8;
}