.film-detail-main {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    background: #EEEEEE;
    min-height: 100ch;
    padding: 20px;

}

.add-post-content {
    /* height: 100px; */
    background: #fff;
}

.add-post-form {
    background: #fff;
    padding: 20px;
    flex-basis: 70%;
    width: 70%;
    max-width: 70%;
}
.add-post-form > textarea {
    height: 500px;
    margin-top: 20px;
}
.add-post-info {
    flex-basis: 30%;
    width: 30%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;

}
.add-post-public{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    background: #fff;
    height: 80px;
    margin-bottom: 20px;
    vertical-align: middle;
}
.add-post-public > div > button {
    width: 120px;
    height: 35px;
}
.add-post-category {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    background: #fff;
    height: 80px;
    margin-bottom: 20px;
}
.add-post-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    background: #fff;
    height: 80px;
    margin-bottom: 20px;
}
.add-post-tag > input {
    width: 50%;
}
.add-post-thumb {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    background: #fff;
    height: 80px;
}
.add-post-thumb > .thumb-select {
    margin-right: 20px;
    width: 50px;
}
.cke_editor1 {
    height: 500px;
}

.section-header {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}
.wrapper-film {
    padding: 20px;
}