.footer {
    background-color: black;
    padding-top: 40px;
    margin-top: 80px;
    font-family: "Lora", serif; 
    width: 100%;
  }
  .footer-row {
    height: 250px;
  }
  .footer-element {
    padding-left: 15px;
    color: #fff;
  }
  .footer-element p {
    color: #fff;
    font-weight: 50;
    font-family: "Lora", serif;
  }
  