.login-wrapper{
    text-align: center
}
.login-form {
    width: 300px;
    height: 200px;
    margin: auto auto;
    border: solid 1px gray;
    padding: 12px;
    text-align: center
}
.login-button {
    width: 88%;
    height: 36px;
    border: solid 1px;
    border-radius: 8px;
}