#slider .slider-content {
    width: 100%;
    height: 100vh;
  }
  .wrap {
    position: relative;
  }
  .slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .slider-1 {
    background-image: url(http://themegoodsthemes-pzbycso8wng.stackpathdns.com/altair/demo/wp-content/uploads/2014/10/1600x1200-2.jpg);
  }
  .slider-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .slider-content span {
    font-size: 5rem;
    color: white;
    font-weight: 500;
  }
  .slider-content p {
    font-size: 35px;
    color: white;
    font-weight: 400;
  }
  .arrow {
    /* cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 0;
    height: 0;
    border-style: solid; */
    cursor: pointer;
    background: #000;
    background: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    top: 50vh;
    position: absolute;
    display: block;
    z-index: 1000;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .arrow :hover {
    cursor: pointer;
    background: #000;
    background: rgba(0, 0, 0, 1);
  }
  .arrow p {
    color: #fff;
    margin-top: 0px;
    font-size: 25px;
    font-weight: 200;
  }
  #arrow-left {
    border-width: 20px 30px 20px 0px;
    left: 0;
    margin-left: 30px;
    border-color: transparent #fff transparent transparent;
  }
  #arrow-right {
    border-width: 20px 0px 20px 30px;
    right: 0;
    margin-right: 30px;
    border-color: transparent transparent transparent #fff;
  }
  