.sidebar {
    position: fixed;
    top: 80px;
    left: 0;
    height: 100%;
    width: 240px;
    z-index: 1;
    background-color: #111;
    overflow-x: hidden;
    margin-left: -40px;
}
.sidebar > a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    cursor: pointer;
}
.sidebar > a:hover {
    color: teal;
}