.seat-layout {
    display: flex;
    justify-content: space-around;
    border: solid 1px gray;
    min-height: 500px;
   padding: 12px;
}
.selected-seat {
    background-color: green;
    border-radius: 5px;
}
.choose-seat-info {
    display: flex;
    justify-content: space-between;
}
.left-line-seats > button {
    border-radius: 5px;
}
.right-line-seats > button {
    border-radius: 5px;
}
.center-line-seats > button {
    border-radius: 5px;
}
.order-button-wrapper {
    margin-top: 12px;
}
.order-button {
   text-align: center
}

.order-button > button {
    width: 150px;
    border: solid 1px #000;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto
}
.seat-row {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.seat-row > button {
    border-radius: 5px;
}
.seat-reserved {
    background-color:red;
    border-radius: 5px;
}
.current-seat {
    background-color:yellow;
    border-radius: 5px;
}